<h1 class="font-weight-bold">あなたのカート</h1>

<table>
  <thead>
    <tr>
        <th>番号順</th>
      <th>製品</th>
      <th>価格</th>
      <th>量</th>
      <th>合計</th>
      <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @cart.each_with_index do |item, index| %>
    <tr>
        <% product = Product.find(item["product_id"]) %>
        <td><%= (index + 1) %></td>
        <td><%= product.product_name %></td>
      <td>
        <%= form_tag(edit_quantity_cart_path(product), method: :patch) do %>
          <%= number_field_tag :quantity, item["quantity"], size: 2 %>
          <%= submit_tag "Update", class: "btn btn-secondary" %>
        <% end %>
      </td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= number_to_currency(item["quantity"] * product.price) %></td>
      <td><%= link_to "Delete", delete_product_cart_path(product), class: "btn btn-danger", method: :delete %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4">合計:</td>
    <td><%= number_to_currency(@total_price) %></td>
  </tr>
  </tbody>
</table>
<%= link_to "Checkout", bill_path, class: "mt-3 btn btn-primary" %>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #ddd;
  }
</style>

