<h1>購入履歴: <%= @bill.id %></h1>

<p>ユーザー: <%= @bill.user_id %></p>
<p>スターテス: <%= @bill.status %></p>
<p>ノート:<%= @bill.note %></p>
<p>合計: <%= @bill.total %></p>

<h1> 購入商品一覧</h1>
<% item = @bill.items%>
    <% item.each do |i| %> 
    <% product = i.product%>
    <div style="width:200px; margin: 0 2rem; min-height: 400px">
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   text-align: center; 
    font-family: arial;">

      <img src="<%= product.img%>" alt="Denim Jeans" style="width:100%">
      <h4><%= product.product_name %></h1>
      <p> <%= product.price %></p>
        <p> <%= product.category %></p>
      <p>
           <%= product.description %>
      </p>
      
<% end %>