<div class="container mt-4">
    <% if @products.count == 0 %>
    <div>Do not have product in database</div>
    <% else %>
   <div class="row">
    <% @products.each do |product| %> 
    <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card mb-3" style="min-height: 500px">
      <img src="<%= product.img%>" class="card-img-top" alt="<%= product.product_name %>" style="width:100%">
      <div class="card-body" style="display: flex; flex-flow: column;">
          <div style="flex-grow: 1;">
              <h5 class="card-title"><%= product.product_name %></h5>
      <div class="card-text">
      <p> <%= product.price %></p>
        <p> <%= product.category %></p>
      <p>
           <%= product.description %>
      </p>
      </div>
          </div>
      <%= form_with url: "/product", method: :post do |form| %>
      <%= form.hidden_field :product_id , value: product.id%>
      <%= form.submit "Add to cart", class: "btn btn-primary" %>
    <% end %>
      </div>
    </div>
    </div>
    <%end%>
   </div>
    <%end%>

</div>