<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>

<%= form_tag add_to_cart_path, method: :post do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity, 1, size: 3 %>
  <%= submit_tag "Add to Cart" %>
<% end %>